body {
	font-family: 'Raleway', sans-serif;
}

#website-header {
	font-family: 'Bitter', serif;
	font-size: 40px;
	font-weight: bold;
}

.title {
	font-family: 'Bitter', serif;
}

.purple {
	color: #5f4e9a;
}

.recipe-detail-body {
	margin-left: 20px;
	font-size: 16px;
	width: 60%;
	float: left;
}

.ingredients-list{
	margin-left: 10px;
	font-size: 16px;
}
.ingredients-title {
	font-size: 20px;
}

.ingredient {
	margin-left: 20px;
}

.recipe-detail-img {
	float: right;
	width: 30%;
	margin-right: 5%;
	padding: 5px;
}

ul.sidenav li {
    color: #FFF;
	font-size: 18px;
}

ul.sidenav li > a {
    padding: 15px;
    color: #FFF;
}

ul.sidenav li > a > i {
    padding-right: 8px;
}

ul.sidenav li > a:hover {
    text-decoration: none;
    background: #5f4e9a;
    cursor: pointer;
}

ul.sidenav li > a:focus {
    text-decoration: none;
}

li.sidenav-selected {
    background: #5f4e9a;

}

#right-page-content {
	display: inline-block;
	width: 85%;
	margin-left: 15%;
	padding: 20px;
}

#sidenav-wrapper {
	width:14%;
	background: #2b3643;
	position: fixed;
    height: 100%;
    z-index: 999;
	display: inline-block;
}
