body {
	font-family: 'Raleway', sans-serif;
}

textarea {
	resize: none;
	width: 430px;
	height: 150px;
}

#website-header {
	font-family: 'Bitter', serif;
	font-size: 40px;
	font-weight: bold;
}

.title {
	font-family: 'Bitter', serif;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.purple {
	color: #5f4e9a;
}

.recipe-detail-body {
	margin-left: 20px;
	font-size: 16px;
	width: 60%;
	float: left;
}

.ingredients-list{
	margin-left: 10px;
	font-size: 16px;
}
.ingredients-title {
	font-size: 20px;
}

.ingredient {
	margin-left: 20px;
}

.recipe-detail-img {
	float: right;
	width: 30%;
	margin-right: 5%;
	padding: 5px;
}

.make-cake-btn {
	display:block;
}

.recipe-detail-wrapper {
	overflow: auto;
}

.modal-header {
	background-color: #5f4e9a;
	color: white;
}

ul.sidenav li {
    color: #FFF;
	font-size: 18px;
}

ul.sidenav li > a {
    padding: 15px;
    color: #FFF;
}

ul.sidenav li > a > i {
    padding-right: 8px;
}

ul.sidenav li > a:hover {
    text-decoration: none;
    background: #5f4e9a;
    cursor: pointer;
}

ul.sidenav li > a:focus {
    text-decoration: none;
}

li.sidenav-selected {
    background: #5f4e9a;

}

#right-page-content {
	display: inline-block;
	width: 85%;
	margin-left: 15%;
	padding: 20px;
}

#sidenav-wrapper {
	width:14%;
	background: #2b3643;
	position: fixed;
    height: 100%;
    z-index: 999;
	display: inline-block;
}

.form-element-group label {
	width: 100%;
	min-width: 400px;
}

.form-element-group span, .input-field span {
	display: block;
	padding-bottom: 0.5em;
}

label {
	padding-bottom: 0.5em;
}

select {
	padding: 0.2em;
}

.form-element-group .input-field div {
	display: inline-block;
	width: 15%;
}

.recipe-list-item {
	border-top: 1px solid #ccc;
	width: 100%;
	padding: 1.5em 0 1.5em 0;
}

.recipe-list-item:first-child {
	border-top: none;
}

.recipe-list-item h3 {
	margin: 0;
	padding: 0;
}

.recipe-list-item-main {
	width: 75%;
}

.recipe-list-item article {
	display: block;
	width: 90%;
	font-style: italic;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 1em 0;
	font-size: 13px;
}

.recipe-list-item img {
	width: 75px;
	float: right;
}
